@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

.bg-nav{
    background-image: url('tweet.webp');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.mt-150{
    margin-top: 180px;
}
.acb{
  font-family:'Be Vietnam Pro', sans-serif ;
}
.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
   
  }
  .txt
  {
    text-decoration: none;
    color:white;
  }
