<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Gujarat Elections</title>
  </head>
  <body class="bg-nav">
    
    
        <div class="container">
            <div class="row">
            <div class="col-md-8">
                <h1 class="display-3 mt-150 acb">
                    <strong>Analysis of upcoming Gujarat elections by performing Sentimental analysis on Twitter </strong>
                </h1>

            </div>
            <div class="col-md-4">
                <div class="card mt-150">
                    <div class="card-body">
                        <form class="form">
                            <label>Name</label><br>
                            <input type="text" class ="form-control"><br>
                            <label>Email</label><br>
                            <input type="email" class ="form-control"><br>
                            <label>Password</label><br>
                            <input type="password" class="form-control"><br>
                            <button class="button"><a href="/" class="txt" style ="text-decoration: none; color: #e6e8ed;">Sign up</a></button>

                        </form>
                        <p class="mt-2">Already a member? <a href="/">Login here</a></p>
                    </div>
                </div>

            </div>
        </div>
        </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>